.user-config-header{
    font-size: 22px;
    .text{
        font-size: 22px;
        margin-left: 5px;
    }
}
.user-config-desc{
    mat-chip{
        padding-top: 0px;
        padding-bottom: 0px;
        font-size: 22px;
    }
    .material-icons{
        margin-right: 15px;
    }
}
.mat-table {
    overflow: auto;
    max-height: 500px;
    .mat-column-select {
        overflow: visible;
        max-width: 50px;
    }
    .mat-form-field{
        width: 100px;
    }
    .thread-group-row {
        position: relative;
        &.expanded {
            border-bottom-color: transparent;
        }
        &:not(.expanded) {
            cursor: pointer;
        }
    
        &:not(.expanded):hover {
            background: #f5f5f5;
        }
    }
}
.step-detail{
    overflow: hidden;
    display:block;
    padding:15px 10%;
    background-color: beige;
}
.steps {
  position: relative;
  text-align: center;
  padding: 20px;
  margin: 20px 0;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 50%;
        border-top: solid 2px #6b6bf1;
        border-left: solid 2px #6b6bf1;
        border-bottom: solid 2px #6b6bf1;
        -webkit-transform: skew(0deg, 4deg);
        -moz-transform: skew(0deg, 4deg);
        -ms-transform: skew(0deg, 4deg);
        -o-transform: skew(0deg, 4deg);
        transform: skew(0deg, 4deg);
    }
    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 50%;
        border-top: solid 2px #6b6bf1;
        border-right: solid 2px #6b6bf1;
        border-bottom: solid 2px #6b6bf1;
        -webkit-transform: skew(0deg, -4deg);
        -moz-transform: skew(0deg, -4deg);
        -ms-transform: skew(0deg, -4deg);
        -o-transform: skew(0deg, -4deg);
        transform: skew(0deg, -4deg);
    }
}