<mat-accordion>
  <mat-expansion-panel [expanded]="panelOpenState === true" (opened)="panelOpenState = true">
    <mat-expansion-panel-header matTooltip="Expand to modify the configuration!">
      <mat-panel-title class="user-config-header">
        <i class="material-icons">perm_data_setting</i>
        <span class="text">User Configuration</span>
      </mat-panel-title>
      <mat-panel-description>
        <mat-chip-list class="user-config-desc">
          <mat-chip color="primary" selected="true">
            <i class="material-icons">people</i> {{totalvUsers}}</mat-chip>
          <mat-chip color="primary" selected="true">
            <i class="material-icons">schedule</i> {{exeDuration}}</mat-chip>
          <mat-chip color="primary" selected="true">
            <i class="material-icons">repeat</i> {{iteration}}</mat-chip>
        </mat-chip-list>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="mat-elevation-z1">
      <mat-table #table [dataSource]="dataSource">
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="THREADS">
          <mat-header-cell *matHeaderCellDef> Start Threads Count </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <mat-form-field>
              <input type="number" matInput placeholder="Start Threads Count" [(ngModel)]="element.threads">
            </mat-form-field>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="DELAY">
          <mat-header-cell *matHeaderCellDef> Initial Delay (sec) </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <mat-form-field>
              <input type="number" min="0" matInput placeholder="Initial Delay" [(ngModel)]="element.delay">
              <span matSuffix>sec</span>
            </mat-form-field>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="START">
          <mat-header-cell *matHeaderCellDef> Startup Time (sec) </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <mat-form-field>
              <input type="number" min="0" matInput placeholder="Startup Time" [(ngModel)]="element.startup">
              <span matSuffix>sec</span>
            </mat-form-field>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="HOLD">
          <mat-header-cell *matHeaderCellDef> Hold Load For (sec) </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <mat-form-field>
              <input type="number" min="0" matInput placeholder="Hold Load For" [(ngModel)]="element.hold">
              <span matSuffix>sec</span>
            </mat-form-field>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="SHUTDOWN">
          <mat-header-cell *matHeaderCellDef> Shutdown Time (sec) </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <mat-form-field>
              <input type="number" min="0" matInput placeholder="Shutdown Time" [(ngModel)]="element.shutdown">
              <span matSuffix>sec</span>
            </mat-form-field>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>

    <mat-action-row fxLayout="row" fxLayoutAlign="end center">
      <button mat-raised-button color="primary" (click)="onAddScenatio()">
        <mat-icon>playlist_add</mat-icon> Add Scenario</button>
      <span fxFlex="1"></span>
      <button mat-raised-button color="warn" (click)="onDeleteScenario()">
        <mat-icon>delete</mat-icon> Remove Scenario</button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>
<mat-toolbar>
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button color="primary" (click)="onSimulate()">
      <mat-icon>playlist_play</mat-icon> Simulate</button>
  </mat-toolbar-row>
</mat-toolbar>